<div class="navbar">
  <div class="image">
    <a href="/">
      <img class="pfp" src="imgs/finalLogo.png" width="72px" height="72px">
    </a>
  </div>
  <ul class="nav-list">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/create">Create</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/posts">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <button class="contact-btn">Contact</button>
      </a>
    </li>
  </ul>
</div>