<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/form.css"></link>
  <title>Create a Blog Post!</title>
</head>
<body>
  <div class="popup hidden">
    <p>Incorrect Password. Please Try Again!</p>
  </div>
  <div class="form-container">
    <h1>New Post</h1>
    <form class="form" action="/create" method="post">
      <div class="form-group">
        <label for="title">Title:</label>
        <input maxlength="40" required name="title" type="text">
      </div>
      <div class="form-group">
        <label for="desc">Description:</label>
        <input maxlength="150" name="desc" type="text">
      </div>
      <div class="form-group">
        <label for="content">Content:</label>
        <textarea required name="content" cols="100" rows="10" style="resize: none; padding: 5px 0 0 5px;"></textarea>
      </div>
      <div class="form-group">
        <label for="creatorPass">Password:</label>
        <input required type="password" name="creatorPass">
      </div>
      <button type="submit">Submit</button>
    </form>
    <a href="/"><button class="cancel-btn">Cancel</button></a>
  </div>
  <script src="js/script.js"></script>
</body>
</html>