<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/form.css"></link>
  <title>Create a Blog Post!</title>
</head>
<body>
  <div class="popup hidden">
    <p>Incorrect Password. Please Try Again!</p>
  </div>
  <div class="form-container">
    <h1>New Post</h1>
    <form class="form" action="/create" method="post">
      <div class="form-group">
        <label for="title" class="title-label" style="position: relative;">
          <input type="text" id="title" required style="width: 50%;">
          <span class="placeholder">Title</span>
        </label>
      </div>
      <div class="form-group">
        <label for="desc" class="desc-label" style="position: relative;">
          <input type="text" id="desc" required style="width: 100%;">
          <span class="placeholder">Description</span>
        </label>
      </div>
      <div class="form-group">
        <label for="title" class="title-label" style="position: relative;">
          <textarea required name="content" cols="75" rows="10" style="resize: none;"></textarea>
          <span class="placeholder" style="top: 17.5px;">Content</span>
        </label>
      </div>
      <div class="form-group">
        <label for="creatorPass" class="pass-label" style="position: relative;">
          <input type="text" id="creatorPass" required>
          <span class="placeholder">Password</span>
        </label>
      </div>
      <button type="submit">Submit</button>
    </form>
    <a href="/"><button class="cancel-btn">Cancel</button></a>
  </div>
  <script src="js/script.js"></script>
</body>
</html>