<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <script defer src="js/script.js"></script>
  <title>404 Bad Request!</title>
</head>
<body>
  <h1>404</h1>
  <p>The page you requested at <span style="font-family: monospace;">posts/<%= page %></span> does not exist 🔴</p>
  <a href="/">Click here to go back to the homepage!</a>
</body>
</html>