* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e8e8e8;
  font-family: 'Rubik', sans-serif;
}

main {
  height: 100vh;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70%;
}

a {
  color: white;
  font-family: sans-serif;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}